html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background-color: rgb(28, 11, 25);
}

* { box-sizing: border-box; }
a { text-decoration: none; }

#popup {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(28, 11, 25, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    color: #6FEDB7;
}

#popup #result {
    background-color: #6FEDB7;
    color: rgb(28, 11, 25);
    padding: 7px;
    text-align: center;
}

#popup #close {
    display: block;
    margin: 10px auto;
    justify-content: flex-end;
    text-align: right;
    border: 1px solid #6FEDB7;
    color: #6FEDB7;
    background: none;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: center;
    color: #6FEDB7;
}

main {
    display: flex;
    justify-content: center;
}

form {
    background-color: #6FEDB7;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

form input:not(:last-child) {
    margin-bottom: 10px;
}

form input, form button {
    padding: 7px;
}

form button[type=submit] {
    background: #1C0B19;
    border: 0;
    color: #6FEDB7;
}

#spinner {
    display: none;
}

#spinner img {
    height: 15px;
}

footer {
    display: flex;
    justify-content: center;
    color: #6FEDB7;
    margin-top: 10px;
    font-size: 11px;
}

footer a {
    background: #6FEDB7;
    color: #1C0B19;
    margin-left: 5px;
    padding: 0 3px;
    border-radius: 5px;
}